/* External CSS */

/* Element Selector */

/* Group Selector */

/* Individual Styling */
#first {
    background-color: teal;
}

#second {
    background-color: crimson; 
}

/* Navigation Styling */


nav a {
    color: rgb(235, 9, 9);
}

nav a {
    color: rgb(235, 9, 9);
}



